p.caption {
  color: #777;
  margin-top: 10px;
}
p code {
  white-space: inherit;
}
pre {
  word-break: normal;
  word-wrap: normal;
}
pre code {
  white-space: inherit;
}

/* Hide the footer banner in bs4_book */
.book-footer {
    display: none !important;
}

/* General Background and Text Colors */
body {
    background-color: #FFFFFF; /* White background */
    color: #333333;            /* Dark gray text */
}

/* Link Colors */
a {
    color: #9c6114;            /* Blue links */
}
a:hover {
    color: #9c6114;            /* Darker blue on hover */
}

/* Header Styling */
.book-header {
    background-color: #F2F2F2; /* Light gray background */
    color: #333333;            /* Dark gray text */
}

/* Footer Styling */
.book-footer {
    background-color: #333333; /* Dark gray background */
    color: #F2F2F2;            /* Light gray text */
}
.book-footer a {
    color: #F2F2F2;            /* Light gray links in footer */
}
.book-footer a:hover {
    color: #FFFFFF;            /* White on hover */
}


/* Hide navigation buttons at the bottom of each page */
.book-pagination {
    display: none !important;
}

.mt-5 {
    display: none !important;
}